.android-sdk/
.tools/
android-app/.gradle/
android-app/build/
android-app/app/build/
android-app/local.properties
android-app/juice-therapy.jks
android-app/keystore.properties
android-app/.idea/
*.iml
